/*GLOBAL*/
body {
  font-family: sans-serif;
  font-size: 1em;
}

a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

/* INDEX */
.pokemon-grid {
  margin-top: 50px;
}

.pokemon-grid .row {
  margin-bottom: 30px;
}

.pokemon-wrapper {
	height: 300px;
  width: 100%;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-wrapper .pokemon-image {
  height: 150px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.pokemon-wrapper .pokemon-name {
  text-align: center;
  margin-top: 20px;
}