/*GLOBAL*/
body {
	
}

/*INDEX*/
/*.pokemon-sprite-small{
	width: 150px;
}*/

/*.pokemon-wrapper {
	padding: 30px;
	margin: 30px;
	text-align: center;
	display: inline-block;
}*/

/*DETAIL PAGE*/
/*.pokemon-sprite {
	float: left;
}*/