{% extends 'base.html' %}
{% load pokedex_extras %}

{% block title %}
  <title>Move List</title>
{% endblock %}

{% block body %}

  <div class="table-responsive">
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <td>Name</td>
          <td>Category</td>
          <td>Power</td>
          <td>Accuracy</td>
          <td>PP</td>
        </tr>
      </thead>  
      <tbody>
        {% for move in moves %}
          <tr>
            <th scope="row">
              <a href="{% url 'moves:detail' move.slug %}">{{ move.name }}</a>
            </th>
            <td>{{ move.category }}</td>
            <td>{{ move.power }}</td>
            <td>{{ move.accuracy }}</td>
            <td>{{ move.pp }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  


{% endblock %}