{% extends 'base.html' %}

{% block title %}

  <title>{{ pokemon.name }}</title>

{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <p class="h1 text-center"> {{ pokemon.name }} </p>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <p class="detail-info">Name: <strong>{{ pokemon.name }}</strong></p>
      <p class="detail-info">National Dex Number: <strong>#{{ pokemon.dex }}</strong></p>
      <p class="detail-info">Type: <strong>{{ pokemon.types }}</strong></p>
      <p class="detail-info">Species: <strong>{{ pokemon.species }}</strong></p>
      <p class="detail-info">Height: <strong>{{ pokemon.height }}</strong></p>
      <p class="detail-info">Weight: <strong>{{ pokemon.weight }}</strong>
      <p class="detail-info">Type Defenses: <strong>{{ defenses }}</strong></p>
    </div>

    <div class="col-md-4 order-sm-4 order-1">
      <img src="{{ pokemon.img }}" class="detail-img img-fluid">
    </div>
  </div>
{% endblock %}