{% extends 'base.html' %}

{% block title %}

  <title>{{ pokemon.name }}</title>

{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <p class="h1 text-center mt-4 mb-4"> {{ pokemon.name }} </p>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-8">
      <p class="detail-info">Name: <strong>{{ pokemon.name }}</strong></p>
      <p class="detail-info">National Dex Number: <strong>#{{ pokemon.dex }}</strong></p>
      <p class="detail-info">Type: <strong>{{ pokemon.types }}</strong></p>
      <p class="detail-info">Species: <strong>{{ pokemon.species }}</strong></p>
      <p class="detail-info">Height: <strong>{{ pokemon.height }}</strong></p>
      <p class="detail-info">Weight: <strong>{{ pokemon.weight }}</strong>
    </div>


    <div class="col-md-4 order-sm-4 order-1">
      <img src="{{ pokemon.img }}" class="detail-img img-fluid">
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <p class="detail-info mt-4">Type Defenses:</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            {% for key, value in defenses.items %}          
              <tr>
                <th scope="row">{{ key }}</th>
                {% for item in value %}
                  <td>{{ item }}</td>
                {% endfor %}
              </tr>
            {% endfor %}  
          </tbody>
        </table>
      </div>
    </div>
  </div>  
{% endblock %}