{% extends 'base.html' %}

{% block body %}

	<h1>List of Pokemons</h1>
	<nav>
		<h4>List of Generations</h4>
		<ol>
			<li>
				<a href="#1">Generation 1</a>
			</li>
			<br>
			<li>
				<a href="#152">Generation 2</a>
			</li>
		</ol>	
	</nav>

 	<ul>
		{% for pokemon in pokemons %}

			<div class="pokemon-wrapper" id = "{{ pokemon.dex }}">
				
				<li>
					<a href="{% url 'detail' pokemon.dex %}">
						<img src='{{ pokemon.img }}' class="pokemon-sprite-small">
						<br>
					</a>

					{{ pokemon.dex }}. 
					<a href="{% url 'detail' pokemon.dex %}">{{ pokemon.name }}</a>
				</li>
			</div>
			{% if pokemon.dex == "151" %}
				<br>
				<hr>
			{% endif %}

		{% endfor %}
	</ul>
<hr>
{% endblock %}