{% extends 'base.html' %}

{% block body %}
 	<ul>
		{% for pokemon in pokemons %}
			<div class="pokemon-wrapper" id="{{ pokemon.dex }}">
				<li>
					<a href="{% url 'detail' pokemon.dex %}">
						<img src='{{ pokemon.img }}' class="pokemon-sprite-small">
						<br>
					</a>
					{{ pokemon.dex }}.
					<a href="{% url 'detail' pokemon.dex %}">{{ pokemon.name }}</a>
				</li>
			</div>
			{% if pokemon.dex == "151" %}
				<br>
				<hr>
			{% endif %}
		{% endfor %}
	</ul>
<hr>
{% endblock %}