{% extends 'base.html' %}
{% load pokedex_extras %}

{% block title %}
  <title>Pokedex</title>
{% endblock %}

{% block aside %}

  <ul>  
    <li><a href="#1">G1</a></li>
    <li><a href="#152">G2</a></li>
  </ul>

{% endblock %}

{% block body %}

  <div class="pokemon-grid">
    {% for chunk in pokemons|chunks:3 %}
      <div class="row">
        {% for pokemon in chunk %}
          <div class="col-md"  id="{{ pokemon.dex }}">
            <a href="{% url 'pokedex:detail' pokemon.dex %}">
              <div class="pokemon-wrapper">
                <img class="pokemon-image" src="{{ pokemon.img }}">
                <p class="pokemon-name">#{{ pokemon.dex}} <strong>{{ pokemon.name}}</strong></p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
 
{% endblock %}
